Name
<br>
<%= group.name%>
<br>
Add someone! <form method="POST" action="<%=addMemberPath%>" >
   <input type="text" placeholder="Write his user ID1 here" name="user_id"/><input type="submit" value="Add">
   <input type="text" placeholder="Write his user ID2 here" name="id2"/><input type="submit" value="Add">
</form>

Members
<br>

<% group.group.members.forEach((member) => { %>
    <%= member.id %> a.k.a. <%= member.username%> <br>
<%});%>
<br>
<br>
<% console.log('---', messages) %>
<% messages.forEach((message) => { %>
    <div class="msg">
	User <%= message.author || message.personId %> wrote: <%= message.text || message.description %>
    </div>
<% }); %>


<form method="POST" action="<%=submitMessagePath%>" >
   <input type="text" placeholder="Write a message!" name="message"/><input type="submit" value="Send">
</form>
