Nombre
<br>
<%= group.name%>
<br>
Miembros
<br>

<% group.members.forEach((member) => { %>
    <%= member.username%>
<%});%>

<% messages.forEach((message) => { %>
    <div class="msg">
	User <%=message.author%> wrote: <%= message.text %>
    </div>
<% }); %>


<form method="POST" action="<%=submitMessagePath%>" >
   <input type="text" placeholder="Write a message!" name="message"/><input type="submit" value="Send">
</form>
