Name
<br>
<%= group.name%>
<br>
Add someone! <form method="POST" action="<%=addMemberPath%>" >
   <input type="text" placeholder="Write his user ID here" name="message"/><input type="submit" value="Add">
</form>

Members
<br>

<% group.members.forEach((member) => { %>
    <%= member.id %> a.k.a. <%= member.username%> <br>
<%});%>
<br>
<br>
<% messages.forEach((message) => { %>
    <div class="msg">
	User <%=message.author%> wrote: <%= message.text %>
    </div>
<% }); %>


<form method="POST" action="<%=submitMessagePath%>" >
   <input type="text" placeholder="Write a message!" name="message"/><input type="submit" value="Send">
</form>
