<div id="react-app"></div>
<div id="mainBar">
  <div>
  <form method="GET" action="<%//=searchGroupPath%>">
	Search for groups here
	<input style="width: 90%;" type="text" id="searchMe" placeholder="Search here!"></input>
	<input type="button" style="float:right; width: 90%" onClick="changeSrc('groups/search/'+document.getElementById('searchMe').value)" value="go!"></input>
  </form>
  <br>
	Pertenezco a <%= groups.length %> grupos
	<br>
	<% groups.forEach( (group) => { %>		
		<br>
		<input type="button" onClick="changeSrc('/groups/<%= group.id %>')" value="<%= group.name%>"/>
        <% });%>
	<br>
      <input type="button" onclick="changeSrc('/groups/new')" value="Create one" /> 
    <br>
	<form action="<%= newHashtagSearch %>" method="post">
        <input type="text" name="text" placeholder="hashtag"/>
        <input type="submit" value="Search"/>
  </form>

  <form action="<%= newUsernameSearch %>" method="post">
    <input type="text" name="username" placeholder="username"/>
    <input type="submit" value="Search"/>
  </form>

  </div>
  <div>
  </div>
  <div>
    My People
  </div>
</div>
<iframe id="mainFrame">
</iframe>
</form>
