<div id="react-app"></div>
<div class="top-div">
  <b><p class="top-search">Pertenezco a <%= groups.length %> grupos </p> </b>
  <form   class="top-search"  method="GET" action="<%//=searchGroupPath%>">
	<input  type="text"  placeholder="Busca aquí!"></input>
	<input  type="button"  onClick="changeSrc('groups/search/'+document.getElementById('searchMe').value)" value="Buscar"></input>
  </form>
</div>
<div id="mainBar">
  <div class="main-div">
    <br>
    <br>
    <br>
    <b><h1 class="center_name"><%= currentUser %></h1></b>
    <br>
    <br>
	<% groups.forEach( (group) => { %>		
  
		<input type="button" onClick="changeSrc('/groups/<%= group.id %>')" value="<%= group.name%>"/>
        <% });%>
<!---	<br>
    <input type="button" onclick="changeSrc('/groups/new')" value="Create one" /> 
  <br>
-->
	<form class="main-div" action="<%= newHashtagSearch %>" method="post">
        <input type="text" name="text" placeholder="hashtag"/>
        <input type="submit" value="Buscar"/>
  </form>

  <hr>
  <br>
  

  <form class="main-div"  action="<%= newUsernameSearch %>" method="post">
    <input type="text" name="username" placeholder="username"/>
    <input type="submit" value="Buscar"/>
    
  </form>

  </div>
  <div>
  </div>
  <div>
    
  </div>
</div>
<iframe id="mainFrame">
</iframe>
</form>

