<div id="react-app"></div>
<div id="mainBar">
  <div>
  <select id="mySelect" onchange="changeSearch()">
      <option value="0" selected="selected">Search</option>
      <option value="1">Search Hashtag</option>
      <option value="2">Search User</option>
  </select>
  <!-- <form id="1" method="GET" action="<%//=searchGroupPath%>">
    <input style="width: 90%;" type="text" id="searchMe" placeholder="Search group here!"/>
    <input type="button" onClick="changeSrc('groups/search/'+document.getElementById('searchMe').value)" value="Search"/>
  </form> -->
  <form id="1" style="display: none" action="<%=// newHashtagSearch %>" method="get">
    <input style="width: 90%;" id="hashtagInput" type="text" name="text" placeholder="Search a hashtag here!"/>
    <input type="button" onClick="changeSrc('hashtags/'+document.getElementById('hashtagInput').value)" value="Search"/>
  </form>
  <form id="2" style="display: none" action="<%= newUsernameSearch %>" method="get">
    <input style="width: 90%;" id="usernameInput" type="text" name="username" placeholder="Search an username here!"/>
    <input type="button" onClick="changeSrc('hashtags/username/'+document.getElementById('usernameInput').value)" value="Search"/>
  </form>
  <br>
  Pertenezco a <%= groups.length %> grupos
  <br>
  <input type="button" onclick="changeSrc('/groups/new')" value="Crear nuevo grupo" /> 
  <ul>
  <% groups.forEach ( (group) => { %>		
    <li class="group">
    <br>
    <% if (group.id1 !== -3) { %>
      <input type="button" class="groupButton" onClick="changeSrc('/groups/<%= group.id1 %>/<%=group.id2%>')" value="<%= group.name%>"/>
    <% } else { %>
      <input type="button" class="groupButton" onClick="changeSrc('/groups/<%= group.id1 %>/<%=group.id2%>')" value="<%= group.name%>"/>
    <% } %>
    </li>
  <% });%>
  </ul>
  </div>

</div>
<iframe id="mainFrame">
</iframe>
</form>
<script>
  function changeSearch() {
    var id = document.getElementById("mySelect").value;
    var x = document.getElementById(id);
    console.log(x);
    x.style.display = "block";
    if (id == 1) {
      var option = document.getElementById("2");
    } else if (id == 2) {
      var option = document.getElementById("1");
    }
    option.style.display = "none";
  }
</script>