<h1>Message <%= message.id %> from <%= message.user_id %> to group <%= message.group_id %> </h1>

<p><%= message.text %></p>

<ul>
    <% message.hashtags.forEach(hastag => { %>
    <li>
        <%= hashtag %>
    </li>
    <% }) %>
</ul>
